fieldset {
    width: 200px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.holder {
    position: relative;
    float: left;
    padding: 20px;
    margin: 0 50px 50px 0;
    border: 2px solid burlywood;
}

.test-div {
    position: relative;
    width: 70px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid black;
    left: calc(50% - 35px);
}

.inner {
    position: relative;
    float: left;
}

.text-align {
    margin-top: 40px;
    text-align: center;
}

.color {
    background-color: red;
}